body{
  width: 99%;
  height: 99%;
}
.showtime{
  margin-top:12%;
  width:100%;
  color:gray;
  text-align: center;
}
.text{
  font-size: 100%;
}
#clock0{
  font-size: 170%;
  display: inline-block;
}
#clock1{
  font-size: 400%;
  display: inline-block;
}
#clock2{
  font-size: 150%;
}
#clock3{
  font-size: 150%;
  color:gray;
}
.with{
  margin-top:-30px;
  margin-bottom:-30px;
}
/* Header */
		#header .logo {
			display: inline-block;
			height: inherit;
			left: 1.5em;
			line-height: inherit;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0;
		}
			#header .logo a {
				font-size: 1.25em;
				color: #fff;
				font-weight: 600;
				text-decoration: none;
			}

				#header .logo a:hover {
					color: #fff;
				}

			#header .logo span {
				font-weight: 300;
				font-size: .8em;
				color: #FFF;
			}
/**/
#cancel {
    width: 127px; height: 48px;
    text-align: center;
    border: none;
    margin-top: 20px;
    cursor: pointer;
}
#cancel:hover{
    color: #fff;
    background-color: #216282;
    opacity: 0.9;
}
.showtimes {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      /*background-color: rgba(0, 0, 0, 0.5);*/
      opacity: 0;
      visibility: hidden;
      transform: scale(1.0);
      transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #222222;
    padding: 1rem 1.5rem;
    width: 500px;
    height: 350px;
    border-radius: 0.5rem;
}
.close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.close-button:hover {
    background-color: darkgray;
}
.show-showtimes {
   opacity: 1;
   visibility: visible;
   transform: scale(1.0);
   transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/*버튼*/
.snip1535 {
/*background-color: #c47135;*/
background-color: #444444;
border: none;
color: #ffffff;
cursor: pointer;
display: inline-block;
font-family: 'BenchNine', Arial, sans-serif;
font-size: 1em;
font-size: 80%;
line-height: 1em;
margin: 15px 40px;
outline: none;
padding: 12px 40px 10px;
position: relative;
text-transform: uppercase;
font-weight: 700;
}
.snip1535:before,
.snip1535:after {
border-color: transparent;
-webkit-transition: all 0.25s;
transition: all 0.25s;
border-style: solid;
border-width: 0;
content: "";
height: 24px;
position: absolute;
width: 24px;
}
.snip1535:before {
border-color: #c47135;
border-right-width: 2px;
border-top-width: 2px;
right: -5px;
top: -5px;
}
.snip1535:after {
border-bottom-width: 2px;
border-color: #c47135;
border-left-width: 2px;
bottom: -5px;
left: -5px;
}
.snip1535:hover,
.snip1535.hover {
background-color: #c47135;
}
.snip1535:hover:before,
.snip1535.hover:before,
.snip1535:hover:after,
.snip1535.hover:after {
height: 100%;
width: 100%;
}
/* Footer */

	#footer {
		color: #fdd1d1;
		padding: 6em 0 4em 0;
		background: black;
    text-align: center;
    margin-top: 10%;
	}

		#footer input, #footer select, #footer textarea {
			color: #ffffff;
		}

		#footer a {
			color: #ffffff;
		}

		#footer strong, #footer b {
			color: #ffffff;
		}

		#footer h1, #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
			color: #ffffff;
		}

		#footer blockquote {
			border-left-color: rgba(255, 255, 255, 0.25);
		}

		#footer code {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer hr {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="submit"],
		#footer input[type="reset"],
		#footer input[type="button"],
		#footer button,
		#footer .button {
			background-color: #5a5a5a;
			color: #ffffff !important;
		}

			#footer input[type="submit"]:hover,
			#footer input[type="reset"]:hover,
			#footer input[type="button"]:hover,
			#footer button:hover,
			#footer .button:hover {
				background-color: #676767;
			}

			#footer input[type="submit"]:active,
			#footer input[type="reset"]:active,
			#footer input[type="button"]:active,
			#footer button:active,
			#footer .button:active {
				background-color: #4d4d4d;
			}

			#footer input[type="submit"].alt,
			#footer input[type="reset"].alt,
			#footer input[type="button"].alt,
			#footer button.alt,
			#footer .button.alt {
				background-color: transparent;
				box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
				color: #ffffff !important;
			}

				#footer input[type="submit"].alt:hover,
				#footer input[type="reset"].alt:hover,
				#footer input[type="button"].alt:hover,
				#footer button.alt:hover,
				#footer .button.alt:hover {
					background-color: rgba(255, 255, 255, 0.075);
				}

				#footer input[type="submit"].alt:active,
				#footer input[type="reset"].alt:active,
				#footer input[type="button"].alt:active,
				#footer button.alt:active,
				#footer .button.alt:active {
					background-color: rgba(255, 255, 255, 0.2);
				}

				#footer input[type="submit"].alt.icon:before,
				#footer input[type="reset"].alt.icon:before,
				#footer input[type="button"].alt.icon:before,
				#footer button.alt.icon:before,
				#footer .button.alt.icon:before {
					color: #fbb5b5;
				}

			#footer input[type="submit"].special,
			#footer input[type="reset"].special,
			#footer input[type="button"].special,
			#footer button.special,
			#footer .button.special {
				background-color: #ffffff;
				color: #F64747 !important;
			}

		#footer label {
			color: #ffffff;
		}

		#footer input[type="text"],
		#footer input[type="password"],
		#footer input[type="email"],
		#footer select,
		#footer textarea {
			background: rgba(255, 255, 255, 0.075);
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer input[type="text"]:focus,
			#footer input[type="password"]:focus,
			#footer input[type="email"]:focus,
			#footer select:focus,
			#footer textarea:focus {
				border-color: #ffffff;
				box-shadow: 0 0 0 1px #ffffff;
			}

		#footer .select-wrapper:before {
			color: rgba(255, 255, 255, 0.25);
		}

		#footer input[type="checkbox"] + label,
		#footer input[type="radio"] + label {
			color: #fdd1d1;
		}

			#footer input[type="checkbox"] + label:before,
			#footer input[type="radio"] + label:before {
				background: rgba(255, 255, 255, 0.075);
				border-color: rgba(255, 255, 255, 0.25);
			}

		#footer input[type="checkbox"]:checked + label:before,
		#footer input[type="radio"]:checked + label:before {
			background-color: #ffffff;
			border-color: #ffffff;
			color: #F64747;
		}

		#footer input[type="checkbox"]:focus + label:before,
		#footer input[type="radio"]:focus + label:before {
			border-color: #ffffff;
			box-shadow: 0 0 0 1px #ffffff;
		}

		#footer ::-webkit-input-placeholder {
			color: #fbb5b5 !important;
		}

		#footer :-moz-placeholder {
			color: #fbb5b5 !important;
		}

		#footer ::-moz-placeholder {
			color: #fbb5b5 !important;
		}

		#footer :-ms-input-placeholder {
			color: #fbb5b5 !important;
		}

		#footer .formerize-placeholder {
			color: #fbb5b5 !important;
		}

		#footer ul.alt li {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer header p {
			color: #fbb5b5;
		}

		#footer table tbody tr {
			border-color: rgba(255, 255, 255, 0.25);
		}

			#footer table tbody tr:nth-child(2n + 1) {
				background-color: rgba(255, 255, 255, 0.075);
			}

		#footer table th {
			color: #ffffff;
		}

		#footer table thead {
			border-bottom-color: rgba(255, 255, 255, 0.25);
		}

		#footer table tfoot {
			border-top-color: rgba(255, 255, 255, 0.25);
		}

		#footer table.alt tbody tr td {
			border-color: rgba(255, 255, 255, 0.25);
		}

		#footer .inner {
			margin: 0 auto;
		}

		#footer h2 {
			margin-bottom: 2em;
			text-align: center;
		}

		#footer .icons {
			text-align: center;
			padding-top: 1em;
		}

		#footer .copyright {
			color: rgba(255, 255, 255, 0.5);
			font-size: 0.8em;
			margin: 0 0 2em 0;
			padding: 0;
			text-align: center;
		}

		#footer .icon.round {
			display: block;
			background: rgba(255, 255, 255, 0.15);
			border-radius: 100%;
			height: 4em;
			width: 4em;
			line-height: 4em;
			color: #FFF;
		}

			#footer .icon.round:hover {
				color: rgba(255, 255, 255, 0.25);
				background: none;
				box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.25);
			}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3em 0 1em 0;
			}

		}
